* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*.header__overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  clip-path: ellipse(102% 100% at 62.48% 0%);
}*/

.header__lay {
  width: 100%;
  /*height: 700px;*/
  /*background-size: cover;*/
}

.header__container {
  height: 700px;
  width: 100%;
  background: linear-gradient(180deg, #194d41 0%, rgba(25, 77, 65, 0.7) 100%);
  clip-path: ellipse(117% 100% at 52.68% 0%);
  position: absolute;
  z-index: 3;
  top: 0;
  /*left: 0%;*/
}

.header__int {
  padding-top: 37px;
}

.header__content {
  display: flex;
  justify-content: space-around;
}

.header__main {
  display: flex;
  justify-content: space-around;
}

.header__us {
  width: 472px;
  height: 449px;
  background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  margin-top: 30px;
}

.header__get {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
  padding-top: 80px;
}

.header__lorem {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 20px;
}

.form__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}

.header__box {
  margin-left: 5px;
  padding-top: 25px;
}

.header__first {
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.header__box label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.text__field_1 {
  display: flex;
  justify-content: space-between;
}

.text__field_2 {
  display: flex;
  justify-content: space-between;
}

.header_select {
  padding-top: 20px;
}

#header__button {
  width: 221px;
  height: 56px;
  background: #5bc8af;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  text-transform: capitalize;
  margin-left: 10em;
  margin-top: 30px;
  /*font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;*/
  color: #ffffff;
}

.send__icon {
  color: #ffffff;
}

.header__call_p {
  display: none;
}

/* RESPONSIVENESS*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*.header__overlay {
    overflow-x: hidden;
  }*/

  .header__lay {
    height: 1090px;
    /*background-attachment: fixed;*/
  }

  .header__container {
    height: 1225px;
    width: 790px;
  }

  .header__content {
    justify-content: space-between;
  }

  .header__rotate {
    display: none;
  }

  .header__call {
    display: none;
  }

  /*.header__lists li {
    margin-left: 40px;
    margin-top: 35px;
  }*/

  .header__call_p {
    display: flex;
    position: absolute;
    top: 6%;
    left: 36%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
  }

  .header__x {
    margin-left: 5px;
    color: green;
  }

  .header__main {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
  }

  .header__get {
    text-align: center;
  }

  .header__int {
    padding-left: 30px;
  }

  .header__us {
    margin-top: 70px;
  }
}

@media screen and (min-width: 390px) and (max-width: 767px) {
  .header__overlay {
    overflow-x: hidden;
  }

  .header__lay {
    height: 1090px;
    width: 100%;
    /*position: fixed;
        overflow-x: hidden;*/
  }

  .header__container {
    height: 1225px;
  }

  .header__main {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
  }

  .header__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
  }

  .header__get {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
  }

  .header__intervention {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    width: 328px;
  }

  .header__lorem {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 40px;
  }

  /*.header__int {
    padding-left: 30px;
  }*/

  .header__us {
    margin-top: 70px;
    width: 328px;
    height: 573px;
    background: linear-gradient(
      180deg,
      #2a7d6c 0%,
      rgba(62, 105, 96, 0.62) 100%
    );
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
  }

  .header__form {
    display: flex;
    flex-direction: column;
  }

  .header__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
  }

  .header__third {
    margin-top: 30px;
  }

  .header__first {
    width: 260px;
  }

  .header__second {
    width: 260px;
  }

  .text__field_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    /*width: 256px;
    height: 30px;*/
  }

  .text__field_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    /*width: 256px;
    height: 30px;*/
  }

  #header__button {
    margin-left: 4em;
  }
}
